
node_modules/

**/cypress/videos
**/cypress/screenshots
coverage/
.nyc_output/
dist/
.cache/
.vscode/
cypress-coverage/

cypress/downloads/*

.parcel-cache
.DS_Store
.env
cypress.env.json
cypress*
.env*